<!doctype html>
<html lang="en" ng-app="portfolioApp">
  <head>
    <meta charset="utf-8">
    <title>About File</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  </head>
  <body ng-controller="homeController">

    {{> header}}

    <h1>{{title}} ({{getCurrentYear}})</h1>

    {{> footer}}

  </body>
</html>