<!doctype html>
<html lang="en" ng-app="portfolioApp">
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  </head>
  <body ng-controller="homeController">

  	{{> header}}

    <h1>{{welcomeMessage}}</h1>

    {{> footer}}

  </body>
</html>