<ul 
	class="todos-list"
	>

	<li 
		class="list-item todos-list"
		ng-repeat="todo in todos | orderBy: 'isCompleted'"
		ng-class="{'isCompleted': todo.isCompleted}">

		<!-- Checkbox -->
		<input 
	    	type="checkbox" 
	    	ng-model="todo.isCompleted"
	    	ng-click="toggleCompleted(todo)"
	    	style="display:inline-block;"
	    	>

		<!-- Title -->
		<h2 
			style="display:inline-block;"
			ng-click="editMode(todo, 'title')"
			ng-show="!todo.editMode">
			{{todo.title}}
		</h2>
		<!-- Description -->
		<p 
			style="display: inline-block; padding:10px;"
			ng-click="editMode(todo)"
			ng-show="!todo.editMode">
			{{todo.description}}
		</p>
		<!-- Edit Mode -->
		<form
			name="editTodoTitleForm"
			ng-submit="editTodo(editTodoTitleForm.$valid, todo)"
			ng-model-options="{ updateOn: 'submit' }"
			ng-show="todo.editMode"
			novalidate
			>
			<button 
		    	type="submit" 
		    	ng-class="{'disabled-button': editTodoTitleForm.$invalid, 'enabled-button': editTodoTitleForm.$valid}" 
		    	style="display:inline-block"
		    	ng-disable="editTodoTitleForm.$invalid">
	    			Update
	    	</button>
			<button
	    		ng-click="editMode(todo, 'resetTitle')"
	    		type="button">
	    			Cancel
	    		</button>
			<input
				name="editTitle"
				type="text"
				autocomplete="off"
				ng-model="todo.title"
				ng-model-options="{ updateOn: 'submit keyup' }"
				ng-minlength="3"
				ng-maxlength="20"
				valid-title
				required
				>
			<input
				name="editDescription"
				type="text" 
				autocomplete="off"
				placeholder="Description (optional)" 
				ng-model="todo.description"
				ng-model-options="{ updateOn: 'submit keyup' }"
				ng-maxlength="50"
				valid-description
				>
			<span 
				ng-show="todo.title.length">{{todo.title.length}}/20</span> 
			<span 
				ng-show="todo.description.length">{{todo.description.length}}/50</span> 
		</form>
		
		<!-- Delete Button -->
		<input 
			type="button" 
			value="X" 
			name="" 
			ng-click="deleteItem(todo)">

		<!-- Stretch Goal: Lists inside a todo -->
			<!-- <div ng-if="todo.list">
				<h3>{{todo.list.title}}</h3>
				<ol>
				    <li ng-repeat="item in todo.list.items">{{item}}</li>
				</ol>
			</div> -->
		<div 
			ng-messages="editTodoTitleForm.editTitle.$error" 
			ng-show="editTodoTitleForm.editTitle.$invalid && !editTodoTitleForm.editTitle.$pristine"
			class="error-messages"
			>
			<p ng-message="required">	
				A Title is required
				</p>
			<p ng-message="maxlength || minlength">	
				Your Title must be between 3 and 20 characters
				</p>
			<p ng-message="validTitle">	
				You Title may only include letters and numbers
				</p>
		</div>
		<div 
			ng-messages="editTodoTitleForm.description.$error" 
			ng-show="editTodoTitleForm.description.$invalid && !editTodoTitleForm.description.$pristine"
			class="error-messages"
			>
			<p ng-message="maxlength || minlength">	
				Your Description must be less then 50 characters
				</p>
			<p ng-message="validDescription">	
				You Description may only include letters and numbers
				</p>
		</div>

	</li>

</ul>