$primary-color: #FA787E;
$primary-color-light: #FFD9DA;
$primary-color-dark: #EA636A;
$secondary-color: #114b5f;
$secondary-text-color: #114b5f;
$invalid-color: #FA787E;
$invalid-text-color: #e0c1c2;
$valid-color: #63F075;
$valid-text-color: #ffffff;
$input-text-color: #afb3b8;

$color-transition-time: .4s;
$transform-transition-time: .3s;

//Media Querie Variables
$information-iphone: "only screen and (min-device-width: 375px) and (max-device-width: 667px)";
$information-ipad: "only screen and (min-device-width: 768px) and (max-device-width: 1024px)";

body {
	color: $primary-color;
	margin: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 36px;
    background-color: $primary-color-light;
    // font-family: 'Fira Sans', sans-serif;
	
	//-- https://css-tricks.com/snippets/css/media-queries-for-standard-devices/
	// iPad 3, 4 and Pro 9.7
	@media #{$information-ipad} {	
		// font-size: 32px;
	}
	// Iphone6
	@media #{$information-iphone} {
		font-size: 28px;
	}
}





input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 16px;
}


a {
	text-decoration: none;
}


input[type="submit"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}






//Components
home, todolists-component, todolist-component {
	display: grid;
	grid-template: 50px 200px auto / auto;
}

// Navbar
header-nav {
	grid-row: 1/2;
	display: flex;
	background-color: $primary-color;
	
	#header-nav-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		
		.logo {
			flex: 1 0 10vw;
			display: flex;
			justify-content: center;

			img {
			}
		}

		ul.header-nav {
			flex: 6 0 90vw;
			display: flex;
			justify-content: center;
			margin: 0;
			padding: 0;
			height:100%;

			li {
				flex: 1 1; 
				display: flex;
				align-items: center;
				justify-content: center;

				a {
					color: $secondary-text-color;
					text-align: center;
					flex-grow: 1;
					&:hover {
						background-color: $primary-color-dark;
					}
				}
				&:last-child {
					background-color: $primary-color-light; 
					a {
						color: $invalid-text-color;
						cursor: default;
						pointer-events: none;
					}
				}
				&.home { //Home
					a {
					}
				}
				&.todolists { //todolists
					a {
					}
				}
				&.todolist { //todo
				}
			}
			
		}
	}
}

// "Create" Rows
#create-user-container, #create-todolist-container, #create-todo-container {
	grid-row: 2/3;
	display: flex;
		
	.row-url {
		font-size: 1em;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		flex: 1 1;
		
		@media #{$information-iphone} {
			flex-flow: column wrap;
			margin-top: 25px;
		}
		
		span.prodUrl{
			@media #{$information-iphone} {
				display:none;
			}
		}

		create-user, create-todolist, create-todo {
			margin-top: 36px;
			
			@media #{$information-iphone} {
				width: 100%
			}

			form {
				display: flex;
				justify-content: center;
				
				.inputs-container {

					flex-flow: row nowrap;
					display: flex;
					width: 100%;

					@media #{$information-iphone} {
						flex-flow: column wrap;
						margin: 0 20px;
					}

					.submit-button {
						// padding: 5px;
						height: 50px;
						width: 50px;
						position: relative;
						cursor: pointer;
						flex: 1 0 50px;
						margin-bottom: 30px;

						@media #{$information-iphone} {
							margin-right: 0px;
							margin-top: 25px;
							align-self: center;
						}

						&.disabled-button {
							border-radius: 45px;
							background-color: $invalid-color;
							color: $invalid-text-color;
							opacity: 0.3;
							-webkit-transition: -webkit-opacity $transform-transition-time, background-color $color-transition-time;
							transition: opacity $transform-transition-time,  background-color $color-transition-time;
						
							&:hover {
								input {
									cursor: default;
								}
							}
						}
						&.enabled-button {
							border-radius: 45px;
							background-color: $valid-color;
							color: $valid-text-color;
							opacity: .5;
							-webkit-transition: -webkit-opacity $transform-transition-time, background-color $color-transition-time;
							transition: opacity $transform-transition-time,  background-color $color-transition-time;
							
							&:hover {
								opacity: 1;
							}
						}
						
						input {
							height: 100%;
							width: 100%;
							position: absolute;
						}
						.icon-container {
							height: 100%;
							width: 100%;
							position:absolute;
							display: flex;
							justify-content: center;
							align-items: center
							
							img {
								width: 60%;
								height: 60%;
							}

						}
					}
					.error-messages {
						position: absolute;
						width: 100%;
						margin-top: 90px;
						margin-left: 21px;
						p {
							background-color: $primary-color;
							color: $secondary-text-color;
							font-size: .5em;
							padding: 5px 24px;
							max-width: 350px;
						}
					}	
					.input {
						position: relative;
						z-index: 1;
						display: inline-block;
						margin-left: .5em;
						vertical-align: top;
						
						&.ng-invalid.ng-touched {
							background-color: $invalid-color;
						}
						&.ng-valid.ng-touched {
							background-color: $valid-color;
						}
						&.input--isao {
							flex: 2 1 auto;
							margin-right: 15px;
						}
						&.input--todo {

						}

						.input__field {
							position: relative;
							display: block;
							float: right;
							padding: 0.8em;
							width: 60%;
							border: none;
							border-radius: 0;
							background: #f0f0f0;
							color: #aaa;
							font-weight: bold;
							font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
							-webkit-appearance: none; /* for box shadows to show on iOS */

							
							&:focus {
								outline: none;
							}
							&.input__field--isao {
								z-index: 10;
								padding: 0.75em 0.1em 0.25em;
								width: 100%;
								background: transparent;
								color: $input-text-color;
								font-size: .7em;

								&:focus {
									// font-size: 1em;
									+ .input__label--isao {
										&::before {
											-webkit-transform: scale3d(1, 1, 1);
											transform: scale3d(1, 1, 1);
										}
									}
									+ .input__label--isao {
										pointer-events: none;
									}
									+ .input__label--isao::after {
										opacity: 1;
										-webkit-transform: translate3d(0, 0, 0);
										transform: translate3d(0, 0, 0);
									}
									+ .input__label--isao .input__label-content--isao {
										opacity: 0;
										-webkit-transform: translate3d(0, -50%, 0);
										transform: translate3d(0, -50%, 0);
									}
								}
							}
						}
						.input__label {
							display: inline-block;
							float: right;
							padding: 0 1em;
							width: 40%;
							// color: #6a7989;
							font-weight: bold;
							font-size: 70.25%;
							-webkit-font-smoothing: antialiased;
						    -moz-osx-font-smoothing: grayscale;
							-webkit-touch-callout: none;
							-webkit-user-select: none;
							-khtml-user-select: none;
							-moz-user-select: none;
							-ms-user-select: none;
							user-select: none;
							-webkit-transition: -webkit-transform $transform-transition-time, color $color-transition-time;
							transition: transform $transform-transition-time,  color $color-transition-time;
							&.invalidInputColor {
								color: $invalid-color;
							}
							&.validInputColor {
								color: $valid-color;
							}
							&.input__label--isao {
								position: relative;
								overflow: hidden;
								padding: 0;
								width: 100%;
								// color: #dadada;
								text-align: left;

								&.validInputColor {
									&::before {
										background: $valid-color;
									}
								}
								&.invalidInputColor {
									&::before {
										background: $invalid-color;
									}
								}

								&::before {
									content: '';
									position: absolute;
									top: 0;
									width: 100%;
									height: 7px;
									background: #dadada;
									-webkit-transform: scale3d(1, 0.4, 1);
									transform: scale3d(1, 0.4, 1);
									-webkit-transform-origin: 50% 100%;
									transform-origin: 50% 100%;
									-webkit-transition: -webkit-transform $transform-transition-time, background-color $color-transition-time;
									transition: transform $transform-transition-time, background-color $color-transition-time;
									-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
									transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
								}
								&::after {
									content: attr(data-content);
									position: absolute;
									top: 0;
									left: 0;
									padding: 0.5em 0.15em;
									// color: #da7071;
									opacity: 0;
									-webkit-transform: translate3d(0, 50%, 0);
									transform: translate3d(0, 50%, 0);
									-webkit-transition: opacity $transform-transition-time, -webkit-transform $transform-transition-time;
									transition: opacity $transform-transition-time, transform $transform-transition-time;
									-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.5, 1);
									transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
									pointer-events: none;
								}
							}
							.input__label-content {
								position: relative;
								display: block;
								padding: 1.6em 0;
								width: 100%;

								&.input__label-content--isao {
									padding: 0.25em 0.15em;
									-webkit-transition: opacity $transform-transition-time, -webkit-transform $transform-transition-time;
									transition: opacity $transform-transition-time, transform $transform-transition-time;
									-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
									transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
									-webkit-transition: opacity $transform-transition-time, -webkit-transform $transform-transition-time;
									transition: opacity $transform-transition-time, transform $transform-transition-time;
									-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
									transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
								}
							}
						}

					}
				}

			}
		}
	}
	
}

.todolists-container, .todos-container, .home-info-container {
	grid-row: 3/4;
	display: flex;
}

// TODOLISTS
ul {

	list-style-type: none;
	
	&.todolists, &.todos-list {
		
		.list-item {
			-webkit-transition: all 0.5s ease-in-out;
			-moz-transition: all 0.5s ease-in-out;
			transition: all 0.5s ease-in-out;

			&.isCompleted {
				background-color: $valid-color;
				margin-top:50px;
			}
			&.isCompleted ~ .isCompleted {
				margin-top:0px;
			}
		}
	}
}

//transition: opacity .1s ease, color .1s ease, font-size .5s ease, width .5s ease;











