$primary-color: #333;
$invalid-color: #FA787E;
$invalid-text-color: #ff969b;
$valid-color: #78FA89;
$valid-text-color: #ffffff;

body{
	color: $primary-color;
}

body h1 {
	color:blue;
}

.url-container {
	display: block;
}
.error-messages {
	margin-left: 10px;
	padding: 10px;
	background-color: $invalid-color;
	display: inline-block;

	p {
		margin: 0;
		color: #fff;
	}
}
input[type="submit"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

form {
	display: inline-block;

	.disabled-button{
		background-color: $invalid-color;
		color: $invalid-text-color;
	}
	.enabled-button{
		background-color: $valid-color;
		color: $valid-text-color;
	}
	.input-container {
		float: left;
		display: inline-block;
	}
	.inline-input {
		display: inline-block;
	}
	.submit-container{
		float: left;
		display: inline-block;
		height: 40px;
		line-height: 40px;
		width: 100px;
		text-align: center;	
		input {
			width: 100%;
		}
	}
	textarea {
    	margin:0; 
  		margin-right: 0px;
  		height: 13px;
	}
	textarea.large-width {
		width: 400px; 
	}
	input[type="text"].todo-inputs {
		display: block;
	}
	textarea.todo-inputs {
		display: block;
	}
	input.large-width {
		width: 400px; 
	}
	input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
		background-color: $invalid-color;
	}
	input.ng-valid.ng-touched, textarea.ng-invalid.ng-touched {
		background-color: $valid-color;
	}
}




// TODOLISTS
ul.todolists, ul.todos-list {
	list-style-type: none;
	
	.list-item {
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;

		&.isCompleted {
			background-color: $valid-color;
			margin-top:50px;
		}
		&.isCompleted ~ .isCompleted {
			margin-top:0px;
		}
	}
}












